@import url('../../../styles/variables.css');

@keyframes loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

div.loading_indicator {
    border-radius: 50%;
    animation: loading 1s linear infinite;
    border-top: 2px dotted var(--action-btn-text-color);
}

div.loading_indicator.small {
    width: var(--loading-sm);
    height: var(--loading-sm);
}
div.loading_indicator.medium {
    width: var(--loading-md);
    height: var(--loading-md);
}

div.loading_indicator.large {
    width: var(--loading-lg);
    height: var(--loading-lg);
}



