@import url('./variables.css');

body {
    margin: 0;

    & * {
        box-sizing: border-box;
    }

    & * a {
        text-decoration: none;
    }
}

.dark {
    background-color: var(--main-bg-color);
    color: var(--text-color);
    position: relative;
}

.light {
    background-color: var(--main-bg-color);
    color: var(--text-color);
    position: relative;
}

.jost-text {
    font-family: var(--main-font);
}

.btn {
    min-width: 80px;
    border: unset;
    outline: unset;
    font-family: var(--main-font);
    padding: 6px 12px;
    font-size: var(--btn-text);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:hover {
        cursor: pointer;
    }

    &:active {
        transform: scale(1.1);
    }
}

.action-btn {
    color: var(--action-btn-text-color);
    background-color: var(--action-btn-bg-color);

    &:hover {
        background-color: var(--action-btn-bg-hover-color);
    }
}

.danger-btn {
    color: var(--danger-btn-text-color);
    background-color: var(--danger-btn-bg-color);

    &:hover {
        background-color: var(--danger-btn-bg-hover-color);
    }
}

.theme-btn {

    background-color: var(--theme-btn-bg-color);

    &:hover {
        background-color: var(--theme-btn-bg-hover-color);  
    }
}

.learn-more-btn {
    background-color: var(--learn-more-btn-bg-color);
    color: var(--learn-more-btn-text-color);

    &:hover {
        background-color: var(--learn-more-btn-bg-hover-color);
    }
}

.auth_form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 270px;
    margin-inline: auto;
    margin-top: 2rem;

    & .auth_form_actions {
        display: flex;
        justify-content: flex-end;
        gap: 5px;
        
        & button {
            width: min-content;
            text-wrap: nowrap;
            margin-top: 12px;
        }
    }

    
}