@import url('../../../../styles/variables.css');

button.tab_btn {
    border: unset;
    outline: unset;
    font-size: var(--text-sm);
    font-weight: 500;
    padding: 10px;
    color: var(--text-color);
    background-color: var(--background-color);
    font-weight: 600;

    &:hover {
        cursor: pointer;
        color: var(--accent-color);
    }

    &.active {
        color: var(--accent-color);
    }
}