@import url('../../../styles/variables.css');

p#urls_list_emtpy_message{
    font-size: var(--text-md);
    font-weight: 500;
    margin: auto;
    width: min-content;
    text-wrap: nowrap;
}

h1#urls_list_heading {
    font-size: var(--text-lg);
}

ul {
    width: 100%;
    text-align: left;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;

    li {
        width: 100%;

    }

    @media screen and (min-width: 796px) {
        
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        
        li {
            width: 100%;
        }
    }

    @media screen and (min-width: 969px) {
        grid-template-columns: repeat(3, 1fr);
    }
}