@import url('../../../styles/variables.css');

div.general_analytics {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    width: 100%;
    gap: 2rem;

    div.analytic_box {
        display: flex;
        margin-inline: auto;
        align-items: center;
        gap: 10px;

        div.analytic {
            display: flex;
            flex-direction: column;

            span.analytic_title {
                font-size: var(--text-sm);
            }

            span.analytic_value {
                font-size: var(--text-md);
                font-weight: 600;
            }
        }
    }

    @media screen and (min-width: 696px) {

        gap: 3rem;
        div.analytic_box {
            margin: unset;
        }
    }
}