@import url('../../../styles/variables.css');

div.alert_box {
    display: flex;
    flex-direction: row;
    gap: 5px;
    background-color: var(--action-btn-bg-color);
    align-items: flex-start;
    padding: 1rem 2rem; 

    * {
        margin: 0;
    }

    & h3, p {
        font-family: var(--main-font);
    }

    & h3 {
        font-weight: 500;
    }

    & p {
        font-weight: 300;
        font-size: var(--text-sm);
        margin-top: 8px;
    }
}