@import url('../../../styles/variables.scss');

* {
    font-family: var(--main-font);
}

.input_area {
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 100%;
    align-items: flex-start;
}

label {
    font-weight: 500;
    font-size: var(--text-sm);
}

input {
    font-size: var(--text-sm);
    border: unset;
    transition: all 0.05s ease-in;
    width: 100%;
    outline: unset;
    height: 35px;
    padding-left: 6px;
    border-bottom: 2px solid var(--action-btn-bg-color);  
    background-color: transparent;
    color: var(--text-color);
    transition: all 0.2s;
}